* {
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}

header h1 {
  margin: 0 15px;
  padding: 20px;
  /* box-sizing: border-box; */
  background-color: antiquewhite;
}

header nav {
    margin: 0;
    padding: 0;
}

nav ul {
  margin-right: 100px;
  padding: 0px;
  display: flex;
}

nav ul li {
  
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  width: 115px;
  text-align: center;
}

nav ul li:hover {
  background-color: aliceblue;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url("../Images/Hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  margin: 0;
  width: 100%;
  position: relative;
}

.hero h4 {
  position: absolute;
  bottom: 5px;
  right: 50px;
  font-size: 40px;
  background-color: antiquewhite;
}

.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about-me {
  box-sizing: border-box;
  margin: 20px;
  padding: 5px;
  justify-content: flex-end;
  font-size: 50px;
}


/* *{
    outline: 3px solid limegreen !important;
    background: rgba(0, 151, 0, 0.1) !important;
    } */
@media screen and (max-width: 768px) {
    header  {
        flex-direction: column;
        align-items: center;
        align-content: space-between;
    }

    header h1 {
        display: inline
    }

    nav ul {
        margin: 0;
    }
}