
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 15px;
}

header ul {
    margin-right: 150px;
    margin-left: 10%;
    padding: 0px;
    display: flex;
    /* justify-content: flex-end; */

}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    flex-wrap: nowrap;
    width: 115px;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    /* height: 200px;
    width: 100%;
    margin-bottom: 25px; */
    background-image: url("../Images/abstract-background-of-four-colored-triangles.jpg");
    height: 80%;
    /* background-size: cover;
    background-position: center; */
}
/* figure {
    margin: 0px;
    height: 250px;
    width: 100%;
}

figure img {
    height: 250px;
    width: 100%;
    object-fit: none;
}  */

*{
    outline: 3px solid limegreen !important;
    background: rgba(0, 151, 0, 0.1) !important;
    }
