* {
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  flex-wrap: wrap;
  width: 100%;
}

header h1 {
  margin: 0 15px;
  padding: 20px;
  /* box-sizing: border-box; */
  background-color: antiquewhite;
}

header nav {
    margin: 0;
    padding: 0;
}

nav ul {
  margin-right: 100px;
  padding: 0px;
  display: flex;
}

nav ul li {
  
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  width: 115px;
  text-align: center;
  /* flex: 1 1 0; */
}

nav ul li:hover {
  background-color: aliceblue;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.hero {
  background-image: url("../Images/Hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  /* width: 100vw; */
  flex: 0 0 90%;
  position: relative;
}

.hero h4 {
  position: absolute;
  bottom: 5px;
  right: 50px;
  font-size: 40px;
  background-color: antiquewhite;
}

main {
  padding-inline: 10%;
}

.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aside {
  box-sizing: border-box;
  margin: 20px;
  padding-right: 15px;
  /* width: 200px; */
  flex: 0 0 20%;
  font-size: 4vw;
  font-weight: 700;
  border-right: 5px solid #4287f5;
  text-align: right;
}

.work {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
.content {
  flex: 0 0 80%;
}

/* *{
    outline: 3px solid limegreen !important;
    background: rgba(0, 151, 0, 0.1) !important;
    } */
@media screen and (max-width: 768px) {
    header  {
        flex-direction: column;
        align-items: center;
        align-content: space-between;
    }

    header h1 {
        display: inline
    }

    nav ul {
        margin: 0;
    }
}
